build/
logs/
reports/
dist/
download/
lib/api/
lib/Doctrine/Common
lib/Doctrine/DBAL
/.settings/
.buildpath
.project
/.AppleDouble/
/tests/.AppleDouble/
/bin/.AppleDouble/
/lib/.AppleDouble/
/tools/.AppleDouble/