[submodule "lib/vendor/doctrine-common"]
	path = lib/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "lib/vendor/doctrine-dbal"]
	path = lib/vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "lib/vendor/Symfony/Component/Console"]
	path = lib/vendor/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "lib/vendor/Symfony/Component/Yaml"]
	path = lib/vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
[submodule "lib/vendor/doctrine-build-common"]
	path = lib/vendor/doctrine-build-common
	url = git://github.com/doctrine/doctrine-build-common.git
