parameters:
    level: 5
    paths:
        - lib
        - tests/Doctrine/StaticAnalysis
    excludePaths:
        - lib/Doctrine/ORM/Mapping/Driver/AttributeReader.php
    earlyTerminatingMethodCalls:
        Doctrine\ORM\Query\Parser:
            - syntaxError
    phpVersion: 80100
