includes:
    - phpstan-baseline.neon
    - phpstan-params.neon

parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # deprecations from doctrine/dbal:3.x
        - '/^Call to an undefined method Doctrine\\DBAL\\Platforms\\AbstractPlatform::getGuidExpression\(\).$/'

        # Fallback logic for DBAL 2
        -
            message: '/Application::add\(\) expects Symfony\\Component\\Console\\Command\\Command/'
            path: src/Tools/Console/ConsoleRunner.php

        - '/^Class Doctrine\\DBAL\\Platforms\\SQLAnywherePlatform not found\.$/'
        - '/^Call to method \w+\(\) on an unknown class Doctrine\\DBAL\\Platforms\\SQLAnywherePlatform\.$/'

        -
            message: '/^Call to an undefined method Doctrine\\DBAL\\Platforms\\AbstractPlatform::getSQLResultCasing\(\)\.$/'
            path: src/Internal/SQLResultCasing.php
        -
            message: '/^Parameter \$stmt of method .* has invalid type Doctrine\\DBAL\\Driver\\ResultStatement\.$/'
            path: src/Internal/Hydration/AbstractHydrator.php
        -
            message: '/^Class Doctrine\\DBAL\\Driver\\ResultStatement not found\.$/'
            path: src/Internal/Hydration/AbstractHydrator.php
        -
            message: '/^Call to static method ensure\(\) on an unknown class Doctrine\\DBAL\\ForwardCompatibility\\Result\.$/'
            path: src/Internal/Hydration/AbstractHydrator.php
        -
            message: '/^Instanceof between Doctrine\\DBAL\\Platforms\\AbstractPlatform and Doctrine\\DBAL\\Platforms\\MySQLPlatform will always evaluate to false\.$/'
            path: src/Utility/LockSqlHelper.php

        # Forward compatibility with Collections 3
        -
            message: '#^Parameter \$order of anonymous function has invalid type Doctrine\\Common\\Collections\\Order\.$#'
            path: src/Internal/CriteriaOrderings.php

        -
            message: '#^Anonymous function has invalid return type Doctrine\\Common\\Collections\\Order\.$#'
            path: src/Internal/CriteriaOrderings.php

        -
            message: '#^Access to property \$value on an unknown class Doctrine\\Common\\Collections\\Order\.$#'
            path: src/Internal/CriteriaOrderings.php

        -
            message: '#^Call to static method from\(\) on an unknown class Doctrine\\Common\\Collections\\Order\.$#'
            path: src/Internal/CriteriaOrderings.php

        -
            message: '#^Call to an undefined method Doctrine\\Common\\Collections\\Criteria\:\:orderings\(\)\.$#'
            path: src/Internal/CriteriaOrderings.php

        -
            message: '#^Method .+\:\:mapToOrderEnumIfAvailable\(\) has invalid return type Doctrine\\Common\\Collections\\Order\.$#'
            path: src/Internal/CriteriaOrderings.php

        # False positive
        -
            message: '/^Call to an undefined method Doctrine\\Common\\Cache\\Cache::deleteAll\(\)\.$/'
            count: 1
            path: src/Tools/Console/Command/ClearCache/ResultCommand.php

        # Symfony cache supports passing a key prefix to the clear method.
        - '/^Method Psr\\Cache\\CacheItemPoolInterface\:\:clear\(\) invoked with 1 parameter, 0 required\.$/'

        -
            message: '#contains generic type.*but class.*is not generic#'
            paths:
                - src/Mapping/Driver/XmlDriver.php
                - src/Mapping/Driver/YamlDriver.php

        # Extending a deprecated class conditionally to maintain BC
        -
            message: '~deprecated class Doctrine\\Persistence\\Mapping\\Driver\\AnnotationDriver\:~'
            path: src/Mapping/Driver/CompatibilityAnnotationDriver.php

        # We're sniffing for this deprecated class in order to detect Persistence 2
        -
            message: '~deprecated class Doctrine\\Common\\Persistence\\PersistentObject\:~'
            path: src/EntityManager.php

        -
            message: '#Cannot access offset \S+ on .*ClassMetadata.*#'
            paths:
                - src/Mapping/Driver/XmlDriver.php
                - src/Mapping/Driver/YamlDriver.php

        -
            message: '#^Parameter \#1 \$orderings of method Doctrine\\Common\\Collections\\Criteria\:\:orderBy\(\) expects array\<string\>, array\<string, Doctrine\\Common\\Collections\\Order\|string\> given\.$#'
            path: src/PersistentCollection.php

        -
            message: '#^Parameter \#5 \.\.\.\$args of static method Doctrine\\Deprecations\\Deprecation\:\:trigger\(\) expects float\|int\|string, string\|false given\.$#'
            path: src/Mapping/ClassMetadataFactory.php

        -
            message: '#^Parameter \#1 \$classNames of method Doctrine\\ORM\\Mapping\\ClassMetadataInfo\<object\>\:\:setParentClasses\(\) expects list\<class\-string\>, array\<string\> given\.$#'
            path: src/Mapping/ClassMetadataFactory.php
