includes:
    - phpstan-baseline.neon
    - phpstan-params.neon

parameters:
    ignoreErrors:
        # deprecations from doctrine/dbal:3.x
        - '/^Call to an undefined method Doctrine\\DBAL\\Platforms\\AbstractPlatform::getGuidExpression\(\).$/'

        # Fallback logic for DBAL 2
        -
            message: '/HelperSet constructor expects/'
            path: lib/Doctrine/ORM/Tools/Console/ConsoleRunner.php
        -
            message: '/Application::add\(\) expects Symfony\\Component\\Console\\Command\\Command/'
            path: lib/Doctrine/ORM/Tools/Console/ConsoleRunner.php

        - '/^Class Doctrine\\DBAL\\Platforms\\(PostgreSQL|SQLServer|SQLAnywhere)Platform not found\.$/'
