includes:
    - phpstan-baseline.neon
    - phpstan-params.neon

parameters:
    ignoreErrors:
        # https://github.com/doctrine/collections/pull/282
        - '/Variable \$offset in isset\(\) always exists and is not nullable\./'
        # PHPStan doesn't understand our method_exists() safeguards.
        - '/Call to an undefined method Doctrine\\DBAL\\Connection::createSchemaManager\(\)\./'
        # Class name will change in DBAL 3.
        - '/^Class Doctrine\\DBAL\\Platforms\\PostgreSQLPlatform not found\.$/'

        # Forward compatibility for DBAL 3.2
        - '/^Call to an undefined method Doctrine\\DBAL\\Cache\\QueryCacheProfile::[gs]etResultCache\(\)\.$/'
        -
        	message: '/^Call to an undefined static method Doctrine\\DBAL\\Configuration::[gs]etResultCache\(\)\.$/'
        	path: lib/Doctrine/ORM/Configuration.php
        -
        	message: '/^Parameter #3 \$resultCache of class Doctrine\\DBAL\\Cache\\QueryCacheProfile constructor/'
        	path: lib/Doctrine/ORM/AbstractQuery.php

        # False positive
        -
            message: '/^Call to an undefined method Doctrine\\Common\\Cache\\Cache::deleteAll\(\)\.$/'
            count: 1
            path: lib/Doctrine/ORM/Tools/Console/Command/ClearCache/ResultCommand.php
        # See https://github.com/doctrine/dbal/pull/5129
        -
            message: '/^Parameter #3 \$startPos of method Doctrine\\DBAL\\Platforms\\AbstractPlatform::getLocateExpression\(\) expects int\|false, string given\.$/'
            count: 1
            path: lib/Doctrine/ORM/Query/AST/Functions/LocateFunction.php

        # Won't get fixed in DBAL 2
        -
            message: "#^Parameter \\#2 \\$start of method Doctrine\\\\DBAL\\\\Platforms\\\\AbstractPlatform\\:\\:getSubstringExpression\\(\\) expects int, string given\\.$#"
            count: 1
            path: lib/Doctrine/ORM/Query/AST/Functions/SubstringFunction.php

        -
            message: "#^Parameter \\#3 \\$length of method Doctrine\\\\DBAL\\\\Platforms\\\\AbstractPlatform\\:\\:getSubstringExpression\\(\\) expects int\\|null, string\\|null given\\.$#"
            count: 1
            path: lib/Doctrine/ORM/Query/AST/Functions/SubstringFunction.php

        # Symfony cache supports passing a key prefix to the clear method.
        - '/^Method Psr\\Cache\\CacheItemPoolInterface\:\:clear\(\) invoked with 1 parameter, 0 required\.$/'
