includes:
    - phpstan.neon

parameters:
    ignoreErrors:
        -
            message: '/clear.*invoked with 1 parameter/'
            path: lib/Doctrine/ORM/EntityRepository.php
        -
            message: '#^Class Doctrine\\Persistence\\ObjectManagerAware not found\.$#'
            path: lib/Doctrine/ORM/UnitOfWork.php
        -
            message: '#^Call to method injectObjectManager\(\) on an unknown class Doctrine\\Persistence\\ObjectManagerAware\.$#'
            path: lib/Doctrine/ORM/UnitOfWork.php
