ul.simple
{
  padding: 5px 0 0 0;
}

ul.simple li
{
  margin: 0;
  margin-right: 5px;
  display: inline;
}

div.configuration-block em
{
  margin-bottom: 10px;
}

div.configuration-block li
{
  padding: 5px;
}

div.configuration-block em
{
    font-style: normal;
    font-size: 90%;
}

div.jsactive
{
  position: relative;
}

div.jsactive ul
{
  list-style: none;
}

div.jsactive li
{
  float: left;
  list-style: none;
  margin-left: 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background-color: #ddd;
  margin-right: 5px;
}

div.jsactive .selected
{
    background-color: #000;
}

div.jsactive .selected a
{
    color: #fff;
    text-decoration: none;
}

div.jsactive .selected a:hover
{
    color: #fff;
    text-decoration: underline;
}

div.jsactive a
{
    color: #000;
    text-decoration: none;
}

div.jsactive a:hover
{
    color: #000;
    text-decoration: underline;
}

div.jsactive div
{
  position: absolute;
  top: 30px;
  left: 0;
}

div.jsactive div div
{
  position: static;
}

div.jsactive pre
{
    margin: 0;
}
