/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2011 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("basic.css");

div.sphinxsidebar {
    width: 300px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button { margin:0; padding:0; }
ul,li { list-style-type:none; }
select { min-width: 1.5em;}
select > option { padding: 0 2px 0 3px; }
form { margin: 0; padding: 0; }
img { border: 0; }
hr { clear:both; display: none; }
label { display: none; }
fieldset { border: 0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

.reset div,
.reset dl,
.reset dt,
.reset dd,
.reset ul,
.reset ol,
.reset li,
.reset h1,
.reset h2,
.reset h3,
.reset h4,
.reset h5,
.reset h6,
.reset pre,
.reset code,
.reset form,
.reset fieldset,
.reset legend,
.reset input,
.reset textarea,
.reset p,
.reset blockquote,
.reset th,
.reset td{margin:0 !important;padding:0 !important;}
.reset table{border-collapse:collapse !important;border-spacing:0 !important;}
.reset fieldset,.reset img{border:0 !important;}
.reset address,
.reset caption,
.reset cite,
.reset code,
.reset dfn,
.reset em,
.reset strong,
.reset th,
.reset var{font-style:normal !important;font-weight:normal !important;}
.reset li{list-style:none !important;}
.reset caption,.reset th{text-align:left !important;}
.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6{font-size:100% !important;font-weight:normal !important;}
.reset q:before,.reset q:after{content:'' !important;}
.reset abbr,.reset acronym {border:0 !important;font-variant:normal !important;}
/* to preserve line-height and selector appearance */
.reset sup {vertical-align:text-top !important;}
.reset sub {vertical-align:text-bottom !important;}
.reset input,.reset textarea,.reset select{font-family:inherit !important;font-size:inherit !important;font-weight:inherit !important;}
/*to enable resizing for IE*/
.reset input,.reset textarea,.reset select{*font-size:100% !important;}
/*because legend doesn't inherit in IE */
.reset legend{color:#000 !important;}

/* -- page layout ----------------------------------------------------------- */

div.document {
    margin-right: 30px;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 300px;
}

div.body {
    background-color: #ffffff;
    color: #000000;
}

div.footer {
    color: #ffffff;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #ffffff;
    text-decoration: underline;
}

div.related {
    background-color: #ffc;
    width: 100%;
    font-size: 90%;
    margin-top: -40px;
    height: 35px;
}

div.related h3 {
    display: none;
}

div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.related li {
    float: left;
    font-weight: bold;
}

div.related li.right {
    float: right;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
div.sphinxsidebar {
    background: #f2f2f2;
}

div.sphinxsidebar h3 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
}

div.sphinxsidebar h3 a {
    color: #000000;
}

div.sphinxsidebar h4 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
    margin-left: 0 !important;
}

div.sphinxsidebar p {
    color: #000000;
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 0;
    padding: 0;
    color: #000000;
}

div.sphinxsidebar ul li {
    margin-left: 5px !important;
}

div.sphinxsidebar a {
    color: #000000;
    font-weight: bold;
}

div.sphinxsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
}



/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #355f7c;
    text-decoration: none;
}

a:visited {
    color: #355f7c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    font-weight: normal;
    color: #20435c;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}

div.body h1 { margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    text-align: justify;
    line-height: 130%;
}

div.highlight {
    margin-left: 30px;
}

div.highlight pre {
    margin-left: 0;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border-left: none;
    border-right: none;
    margin-left: 30px;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 1.4em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

img
{
  vertical-align: middle;
}

.js_active
{
   cursor: pointer;
   display: inline-block;
   background: url(/images/btn-open.png) no-repeat 550px center;
}

ul.error_list
{
  margin: 0;
  list-style: none;
  color: #f22;
}

ul.error_list li
{
  list-style: none;
}

pre
{
  padding: 0.7em;
  background-color: #000;
  line-height: 1.3em !important;
  font-size: 100%;
  color: #fff;
}

pre code
{
  background-color: #000;
}

pre.command-line
{
  background-color: #333;
  color: #eee;
  padding-bottom: 10px;
}

pre.command-line code
{
  background-color: #333;
}

blockquote
{
    padding: 2px 20px 5px 45px;
    margin: 15px 0;
    background-color: #fff;
}

div.admonition
{
  padding: 2px 20px 5px 45px;
  background-color: #fff;
  margin-left: 30px;
}

div.note
{
  background: #fff url(http://www.doctrine-project.org/images/note.png) no-repeat -5px -5px;
}

div.caution
{
  background: #fff url(http://www.doctrine-project.org/images/caution.png) no-repeat -5px -5px;
}

div.warning
{
  background: #fff url(http://www.doctrine-project.org/images/caution.png) no-repeat -5px -5px;
}

div.tip
{
  background: #fff url(http://www.doctrine-project.org/images/tip.png) no-repeat -5px -5px;
}

div.seealso
{
    background: #fff url(http://www.doctrine-project.org/images/tip.png) no-repeat -5px -5px;
}

/* Note/Caution/Tip Boxes */

/* Note */

div.note {
  padding: 5px 20px 5px 45px;
  margin: 10px 0;
  background: #ffd url(http://www.doctrine-project.org/images/note.png) no-repeat 5px 10px;
}

/* Caution */

div.caution, div.warning {
  padding: 5px 20px 5px 45px;
  margin: 10px 0;
  background: #ffd url(http://www.doctrine-project.org/images/caution.png) no-repeat 5px 10px;
}

/* Tip */

div.tip {
  padding: 5px 20px 5px 45px;
  margin: 10px 0;
  background: #ffd url(http://www.doctrine-project.org/images/tip.png) no-repeat 5px 10px;
}

/* Sidebar */

div.seealso {
  margin: 10px 0;
  padding: 10px;
  background: #ccc;
}

div.seealso ul {
  margin: 10px;
}

div.seealso p.title {
  margin: -20px;
  margin-bottom: 10px !important;
  padding: 10px !important;
  background: #aaa;
  color: #fff;
  font-weight: bold;
}

/* Shared Styles */
div.note, div.caution, div.tip, div.seealso, div.warning {
  overflow/**/: auto;
  margin-left: 30px;
  font-weight: normal;
  min-height: 40px;
  border: 1px solid #ddd;
}

div.note p, div.caution p, div.tip p, div.seealso p, div.warning p {
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 10px;
}

.admonition-title
{
    display: none !important;
}

blockquote.quote
{
  background: #D7CABA;
}

blockquote.sidebar
{
  padding: 10px;
  background: #eee;
}

blockquote.sidebar p.title
{
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #ddd;
  font-style: italic;
}

.navigation
{
  font-family: Arial, sans-serif;
  padding: 10px 15px;
  font-size: 0.9em;
  text-align:center;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.navigation a
{
  text-decoration: none;
}

.navigation a:hover
{
  text-decoration: underline;
}

.navigation .separator
{
  padding: 0 10px;
  color: #ccc;
}

.feedback p
{
  font-family: Arial, sans-serif;
  color: #858585;
  font-size: 0.8em;
}

.feedback h3
{
  border-top: 1px solid #ddd;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 10px;
  padding-top: 20px;
  color: #858585;
}

.toc
{
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  font-family: Arial, sans-serif;
}

.toc h2
{
  margin: 0;
  padding: 0;
}

.pages
{
  padding: 10px 0 0 0;
}

.pages ul.inline
{
  display: inline;
  padding: 5px 0 0 0;
}

.pages .inline li
{
  display: inline;
  margin: 0 5px;
}

#quick-tour ul.simple
{
  padding: 5px 0 0 0;
}

#quick-tour ul.simple li
{
  margin: 0;
  margin-right: 5px;
  display: inline;
}

.toc a
{
  text-decoration: none;
  color: #777;
}

.toc a:hover
{
  text-decoration: underline;
}

.bd .content .toc li
{
  padding: 2px;
  list-style: square;
  margin-left: 15px;
}

.bd .content .toc li.current
{
  font-weight: bold;
  background-color: #e3e3e3;
}

.bd .content .toc ul.inline
{
  padding: 0;
  margin: 0;
  margin-left: 3px;
}

.bd .content .toc .inline li
{
  margin: 0;
  padding: 0;
}

.bd .content .toc li.separator
{
  color: #ccc;
}

#release_info
{
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  margin-bottom: 15px;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  width: 290px;
}

#license
{
  margin-top: 40px;
  line-height: 1.2em;
  font-size: 80%;
}

#license img
{
  margin-right: 5px;
}

table.docutils
{
    margin-bottom: 10px;
}

table.docutils th
{
  font-weight:bold;
  background-color: #efefef;
}

table.docutils td, table.docutils th
{
  padding: 4px 6px;
  border: 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

.menu
{
  float: right;
  width: 300px;
  margin: 15px;
  font-size: 0.7em;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

#searchform
{
    display: inline;
}

#search
{
    -webkit-appearance: searchfield;
}

span.pre
{
  font-size: 85%;
}

.bd .content .navigation li
{
    margin-left: 0;
}

a.headerlink
{
    padding: 2px;
    color: #ddd;
    text-decoration: none;
    font-size: 80%;
}

a.reference em, a.internal em
{
    font-style: normal;
}

#guides ul ul, #contributing ul ul
{
  display: inline;
  padding: 5px 0 0 0;
}

#guides ul ul li, #contributing ul ul li
{
  display: inline;
  margin: 0;
}

.sidebarbox
{
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    font-family: Arial, sans-serif;
}

.sidebarbox h2
{
  margin: 0;
  padding: 0;
}

.sidebarbox h3
{
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

#searchbox h3 a.nolink
{
    padding: 0;
    text-decoration: none;
}

#searchbox h3 a.nolink:hover
{
    text-decoration: underline;
}

div.breadcrumb h3
{
    display: none;
}

.bd .content div.breadcrumb ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
}

.bd .content div.breadcrumb li
{
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}

.bd .content div.breadcrumb li a
{
    color: #777;
    text-decoration: none;
}

.bd .content div.breadcrumb li a:hover
{
  text-decoration: underline;
}

.p-Indicator
{
    color: #FF8400;
}

.bd .content ul.search li
{
    margin-left: 0;
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

div.genindex-jumpbox
{
    font-size: 85%;
    border: 0;
    margin: 1em 0 1em 0;
    padding: 0.4em;
}

div.genindex-jumpbox
{
    color: #999;
}

div.genindex-jumpbox strong
{
    font-weight: normal;
}

div.genindex-jumpbox a
{
    padding: 0 4px;
}

h2#A, h2#B, h2#C, h2#D, h2#E, h2#F, h2#G, h2#H, h2#I, h2#J, h2#K, h2#L, h2#M, h2#N, h2#O,
h2#P, h2#Q, h2#R, h2#S, h2#T, h2#U, h2#V, h2#W, h2#X, h2#Y, h2#Z
{
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    font-size: 120%;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px;
}

.indextable a, div.genindex-jumpbox a
{
    text-decoration: none;
}

.indextable a:hover, div.genindex-jumpbox a:hover
{
    text-decoration: underline;
}

div.configuration-block em
{
  margin-bottom: 10px;
}

.bd .content div.configuration-block li
{
  padding: 5px;
}

.bd .content div.configuration-block em
{
    font-style: normal;
    font-size: 90%;
}

div.jsactive
{
  position: relative;
}

.bd .content div.jsactive ul
{
  list-style: none;
}

.bd .content div.jsactive li
{
  float: left;
  list-style: none;
  margin-left: 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background-color: #ddd;
  margin-right: 5px;
}

.bd .content div.jsactive .selected
{
    background-color: #000;
}

.bd .content div.jsactive .selected a
{
    color: #fff;
    text-decoration: none;
}

.bd .content div.jsactive .selected a:hover
{
    color: #fff;
    text-decoration: underline;
}

.bd .content div.jsactive a
{
    color: #000;
    text-decoration: none;
}

.bd .content div.jsactive a:hover
{
    color: #000;
    text-decoration: underline;
}

div.jsactive div
{
  position: absolute;
  top: 30px;
  left: 0;
}

div.jsactive div div
{
  position: static;
}

div.jsactive pre
{
    margin: 0;
}

.highlight
{
    overflow: auto;
    margin-bottom: 10px;
}