body
{
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 80%;
  background-image: url(../images/bg_body.jpg);
  background-repeat: repeat-x;
  background-color: #E4D7C5;
  color: #81571F;
  text-align: center;
}

img
{
  border: none;
}

a
{
  color: #81571F;
  text-decoration: underline;
}

a:hover
{
  color: #CC0000;
  text-decoration: none;
}

code
{
  font-size:120%;
}

.sfTContainer
{
  position: relative;
  text-align: left;
  width: 515px;
  margin: 0 auto;
  padding: 0;
  margin-top: 115px;
}

.sfTMessageContainer
{
  padding: 5px;
  margin-top: 25px;
  float: left;
  width: 515px;
}

.sfTMessage
{
  background-image: url(../images/bg_sfTMessage.jpg);
  background-repeat: repeat-x;
  background-color: #E8DDCF;
  border: 1px solid #FFFFFF;
  border-bottom-color: #C2AB8C;
  border-right-color: #C2AB8C;
}

.sfTAlert
{
  background-image: url(../images/bg_sfTAlert.jpg);
  background-repeat: repeat-x;
  background-color: #F8E1D1;
  border: 1px solid #FFFFFF;
  border-bottom-color: #F0B17C;
  border-right-color: #F0B17C;
}

.sfTLock
{
  background-image: url(../images/bg_sfTLock.jpg);
  background-repeat: repeat-x;
  background-color: #DEE8F2;
  border: 1px solid #FFFFFF;
  border-bottom-color: #B1C4EC;
  border-right-color: #B1C4EC;
}

.sfTMessageContainer .sfTMessageWrap
{
  float: left;
  width: 440px;
}

.sfTMessageContainer .sfTMessageWrap h1
{
  color: #503512;
  font-weight: normal;
  font-size: 165%;
  padding: 0;
  margin: 0;
  line-height: 100%;
  padding-top: 5px;
}

.sfTMessageContainer .sfTMessageWrap h5
{
  font-weight: normal;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.sfTMessageContainer img.sfTMessageIcon
{
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 12px;
  margin-left: 5px;
}

.sfTMessageInfo
{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  float: left;
  width: 440px;
}

.sfTMessageInfo dt
{
  font-weight: bolder;
  font-size: 115%;
  margin: 5px 0;
}

.sfTMessageInfo dd
{
  margin: 0;
  padding: 0;
}

.sfTIconList
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sfTIconList li
{
  clear: left;
  line-height: 170%;
  padding-left: 20px;
}

.sfTIconList li.sfTDatabaseMessage
{
  background: url(../images/icons/db16.png) no-repeat top left;
}

.sfTIconList li.sfTColorMessage
{
  background: url(../images/icons/colour16.png) no-repeat top left;
}

.sfTIconList li.sfTLinkMessage
{
  background: url(../images/icons/linkOut16.png) no-repeat top left;
}

.sfTIconList li.sfTDirectoryMessage
{
  background: url(../images/icons/folder16.png) no-repeat top left;
}

.sfTIconList li.sfTEditMessage
{
  background: url(../images/icons/edit16.png) no-repeat top left;
}

.sfTIconList li.sfTReloadMessage
{
  background: url(../images/icons/reload16.png) no-repeat top left;
}
