body, html {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: medium;
    background: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Bright", "Times New Roman", serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 0.67em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.chapter {
    margin-bottom: 5em;
}

p, ul, ol, dl {
    line-height: 1.5em;
    text-align: justify;
    font-size: medium;
}

ul {
    list-style-type: square;
}

dd {
    margin-bottom: 0.5em;
}

table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    margin: 0.5em 0;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.5em;
}

td, th {
    padding: 0.2em;
    border: 1px solid #aaaaaa;
}

th {
    color: black;
    background-color: #f2f2f2;
}

a:link {
    color: #3465a4;
    background-color: inherit;
    text-decoration: none;
}

a:visited {
    color: #75507b;
    background-color: inherit;
    text-decoration: none;
}

a:link:hover,
a:link:active,
a:visited:hover,
a:visited:active {
    text-decoration: underline;
    color: #555753;
    background-color: inherit;
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
    text-decoration: none !important;
    color: black !important;
}

/*** Code blocks and highlighting**********************************************/

pre, code, tt {
    font-family: "Bitstream Vera Sans Mono", monospace;
    font-size: small;
}

pre {
    font-weight: bold;
    padding: 1em;
    margin: 1em 0;
    line-height: 1.2em;
    color: black;
    background-color: #f6f6f6;
    border: 1px solid #cccccc;
    
    /* Pup's Box Flow Hack, Rev 2 */
    overflow/**/: auto;
    \height: 1%;
}

/* This rule applies only to Firefox */
pre, x:-moz-any-link {
    /* overflow: auto causes artefacts */
    overflow: hidden;
    
    /* prevents text to be hidden by wrapping it */
    white-space: -moz-pre-wrap !important;  
}

pre .default {
    color: #000000;
    background-color: inherit;
}

pre .keyword {
    color: #3465a4;
    background-color: inherit;
}

pre .string {
    color: #ef2929;
    background-color: inherit;
}

pre .comment {
    color: #888a85;
    background-color: inherit;
}

/** Page layout ***************************************************************/

#sidebar {
    float: right;
    margin: 1em;
    padding: 0;
}

#wrap {
    margin: 0;
    padding: 0;
}

#content {
    padding: 1em;
}

/** Tree specific styles ******************************************************/

ul.tree, ul.tree ul {
    list-style-type: none;
    padding-left: 2em;
    text-align: left;
    margin: 0;
    font-size: 1em;
}

ul.tree {
    margin-top: 1em;
}

.tree a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.tree .expander {
    color: black;
    background-color: inherit;
    display: block;
    float: left;
    margin: 0;
    margin-left: -1.25em;
    padding: 0;
    text-align: center;
    width: 1em;
}

.tree .expander:link,
.tree .expander:visited,
.tree .expander:active,
.tree .expander:hover {
    color: black;
    background-color: inherit;
    text-decoration: none;
}

.tree ul.closed {
    display: none;
}

/** Table of Contents *********************************************************/

#table-of-contents {
    border: 1px solid #cccccc;
    color: black;
    background-color: #f6f6f6;
    padding: 1em;
    margin: 0;
}

#table-of-contents p,
#table-of-contents ul.tree {
    font-size: 0.9em;
}

#table-of-contents p {
    margin-bottom: 0;
}

#table-of-contents h1 {
    display: block;
    font-size: 1.5em;
    margin-right: 0.5em;
    margin-bottom: 0;
    text-align: left;
}

#toc-toggles {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.9em;
}

#toc-toggles a {
    margin-left: 0.5em;
}

/** Sticky Table of Contents **************************************************/

div#wrap.sticky-toc #sidebar {
    /* Netscape 4, IE 4.x-5.0/Win and other lesser browsers will use this */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    overflow: auto;
}

div#wrap.sticky-toc > #sidebar {
    /* used by Opera 5+, Netscape6+/Mozilla, Konqueror, Safari, OmniWeb 4.5+,
       iCab, ICEbrowser */
    position: fixed;
}

.sticky-toc #content {
    position: absolute;
    top: 0;
    left: 0;
    right: 25%;
    padding-right: 2em;
}
