@page {
  size: a4 portrait;
  margin: 20mm;
  padding: 5mm 0;
  border-top: thin solid black;
  border-bottom: thin solid black;
  @top-left {
    font-size: 10pt;
    vertical-align: bottom;
    margin: 2mm
  }
  @top-right {
    font-size: 10pt;
    vertical-align: bottom;
    margin: 2mm
  }
  @bottom {
    font-size: 10pt;
    content: counter(page);
    vertical-align: top;
    text-align: outside;
    margin: 2mm
  }
}

@page :left {
  @top-left {
    content: "Doctrine Manual";
  }
  @top-right {
    content: "";
  }
}

@page :right {
  @top-right {
    content: "Doctrine Manual";
  }
  @top-left {
    content: "";
  }
}

* { 
    text-decoration: none;
}

html, body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 11pt;
	padding: 0;
	margin: 0;
}

.chapter, #table-of-contents {
	page-break-after: always;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

h1 {
	text-align: center;
}

p, ul, ol, dl {
	text-align: justify;
	line-height: 1.2em;
	hyphens: auto;
}

ul {
	list-style-type: square;
}

tt {
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-size: 10pt;
}

pre {
	background-color: #eeeeee;
}

table {
	border: thin solid black;
	border-collapse: collapse;
}

td, th {
	border: thin solid black;
	padding: 0.5em;
}

.expander {
	display: none;
}

a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}

#toc-toggles {
    display: none;
}

#table-of-contents ul {
	list-style-type: none;
    font-weight: bold;
}

#table-of-contents ul, #table-of-contents li  {
    margin-left: 0;
}

#table-of-contents ul ul {
    margin-left: 1em;
    font-weight: normal;
}

/* add page numbers to TOC */

#table-of-contents ul a::after {
    content: leader('.') target-counter(attr(href), page);
}

