.clr { clear:both; }
.cls{zoom:1;}
.cls:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clr15 { height:15px; clear:both; }
.clr20 { height:20px; clear:both; }

/*fonts.css*/
body { font:13px/1.231 "Lucida Grande",verdana,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
body { background: #010410 url(bg-gradient.jpg) repeat-x top left; }

button, label { cursor:default; cursor:pointer; zoom:1; display:block; }
/* for images */
.left { float:left; margin:5px 20px 5px 0; }
.right{ float:right; margin:5px 0 5px 20px; }

em { font-weight:bold !important; }
         
a:link, a:visited, a:active { text-decoration:none; color:#3370C9; outline:none; border:0; }
a:hover  { color: #00508c; text-decoration:underline; border:0; }

/* selection color */
::-moz-selection{ background: #2E6BC8; color: #fff; }
::selection { background: #2E6BC8; color: #fff; }

/* layout */
#wrapper { width: 96%; min-width: 1000px; margin-left: auto; margin-right: auto; position: relative; }
#header { position:relative; background: transparent url(arrows.jpg) no-repeat top right;}
#header h1#h1title { margin: 0; padding: 0; color: #fff; position: absolute; top: 50px; right: 20px; font-weight:bold; font-size:153.9%; text-shadow: #4E89D5 1px 1px 1px; }
#header h1#h1title a { color: #fff; }

#logo a{ width:427px; height:88px; background:transparent url(logo.jpg) no-repeat top left; display:block; overflow:hidden; text-indent:-999em; }

#nav { text-align:right; position:relative; background:#2e6bc8 url(ur-corner.gif) no-repeat top right;}
#nav .tl { background:transparent url(ul-corner.jpg) no-repeat top left; text-align:right; }
#nav .tl a { text-decoration:none; }
#nav ul { padding: 0; margin: 0; padding-top:10px; float:right; padding-bottom:10px; margin-right:15px; }
#nav ul li { padding: 0; margin: 0; display:inline; font:bold 108% "Helvetica Neue", arial, sans-serif; line-height:131%; }
#nav ul li a:link,
#nav ul li a:visited { color:#fff; padding:7px 10px 10px; text-shadow: #000 0px 0px 3px; }
#nav ul li a:hover { border-top: 4px solid #fff; text-shadow: #fff 0px 0px 3px;  }
#nav ul li a.current { border-top: 4px solid #fff; }

/* Content */

#content { width: 100%; margin-left: auto; margin-right: auto; position:relative; background:#fff; padding:30px 0 0; color: #495a7e; font:normal 100% "Lucida Grande", verdana, sans-serif; }
#content h1 { margin:10px 0 20px 30px; font-weight:bold; font-size:153.9%; }
#content h2 { margin:25px 0 15px 30px; font-weight:bold; font-size:140.0%; }
#content h3 { margin:10px 0 20px 30px; font-weight:bold; font-size:130.0%; }
#content h4 { margin:10px 0 20px 30px; font-weight:bold; font-size:120.0%; }
#content h5 { margin:10px 0 20px 30px; font-weight:bold; font-size:110.0%; }
#content ul li { margin:10px 0 0 30px; }
#content ul { margin-bottom: 10px; }
#content p { margin:0 30px 15px 30px; font-size:93%; line-height:182%; }
#content dl { margin:0 30px 15px 30px; }

#content .section a {
  text-decoration: underline;
}

/* Blue Sidebar Box */
#sidebar { margin-left: 30px; margin-bottom: 10px; }
#sidebar, .blue_box { color: white; margin-right: 30px; width:262px; float:right; }
#sidebar, .blue_box { background: #0d418f; }
#sidebar a, .blue_box a { color: #fff; }
#sidebar .bd, .blue_box .bd { min-height: 300px; width:262px; background: transparent url(sidebox.jpg) no-repeat top right; padding:0 0 15px; }
#sidebar .bd h2, .blue_box .bd h2 { margin:0; padding: 15px 20px; font: 138.5% "Lucida Grande", verdana, sans-serif; color:#fff; text-shadow: #000 0px 0px 3px; }
#sidebar .bd h3, .blue_box .bd h3 { margin:0; padding: 15px 20px; font: 110.5% "Lucida Grande", verdana, sans-serif; color:#fff; text-shadow: #000 0px 0px 3px; }
#sidebar .bd ul { margin-left: 5px; }
#sidebar .bd ul li { list-style-type: none; margin: 0 0 0 16px; background: transparent url(bullet_white.gif) no-repeat center left; padding: 3px 15px 3px 20px; font: 93% "Lucida Grande", verdana, sans-serif; color:#fff; }
#sidebar .bd ul.tree li { margin: 0 0 0 8px; }
#sidebar .ft, .blue_box .ft { width:262px; height:5px; float:right; background: transparent url(sidebox-foot.jpg) no-repeat bottom center; }

/* Bottom Rounded Corner */

#bot-rcnr { width: 100%; margin-left: auto; margin-right: auto; height:14px; position:relative; background:#fff url(br-corner.gif) no-repeat bottom right; }
#bot-rcnr .tl { width:12px; height:14px; background: transparent url(bl-corner.gif) no-repeat bottom left; }

/* Footer */

#footer p { padding:12px 0; text-align:center; font: 85% "Helvetica Neue", verdana, sans-serif; color: white; }
#footer { text-align: center; margin-bottom: 20px; color: white; }

#content em { color:#F06419; font-style:normal; }

/* Misc. Classes */

.perfect-overflow {
  overflow/**/: auto;
  margin-right: 30px;
  margin-left: 30px;
}

.perfect-overflow-right {
  overflow/**/: auto;
  margin-right: 30px;
}

.form {
  padding-left: 30px;
  padding-right: 30px;
}

.form fieldset legend {
  font-weight: bold;
  font-size: 18px;
}

.form fieldset .form-row {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.form fieldset .form-row label {
  font-weight: bold;
  float: left;
  width: 200px;
}

.form fieldset .form-row .form_error, .form fieldset .form-row .error_list {
  font-weight: bold;
  color: red;
  float: right;
}

/* Top 1 and 2 Slots */
/* Yellow and grey slots */

#top1 ul, #top2 ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 20px;
}

#top1 ul li, #top2 ul li {
  display: inline;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-weight: bold;
}

#top1 .content {
  padding: 8px;
}

#top2 .content {
  padding: 3px;
  margin-left: 5px;
}

#top1 {
  background: #F8FFBC;
  height: 35px;
  color: #333333;
  white-space: nowrap;
  position: relative;
}

#top2 {
  background: #e0e0e0;
  height: 25px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
}

#top1_left {
  float: left;
}

#top1_right {
  float: right;
}


/* Breadcrumbs */

#breadcrumb_trail {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  padding-top: 6px;
  top: 0;
}

#breadcrumb_trail li {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  text-indent: 20px;
  margin-right: 15px !important;
  float: left;
  background: url(../sf/sf_admin/images/next.png) no-repeat 0px -2px;
  line-height: 12px;
  font-size: 11px;
}

#breadcrumb_trail li a {
  font-weight: bold;
}


/* Random Colors */

.yellow {
  background: #F8FFBC !important;
}

.light-blue {
  background: #f4f9fc !important;
}

.grey {
  background: #f5f5f5 !important;
}

.green {
  background: #f4fff2 !important;
}

.orange {
  background: #fdf9f1 !important;
}

/* FEATURES */

/* Latest Build Link */

#latest-build {
  color: #3370C9;
  font: bold 93% "Lucida Grande", verdana, sans-serif;
  text-align: left;
  z-index: 20;
}

#latest-build a {
  padding:10px 0 10px 25px;
  background: transparent url(disk.gif) no-repeat left .7em;
}

/* Frequently Asked Questions */

#faq #index { margin-left: 30px; margin-right: 30px; }
#faq #index li { margin-left: 65px; list-style-type: square; }
#faq #list li { background: #F5F5F5; padding: 0px; margin-right: 30px; }

/* Change Log */

.changelog ul { margin-left: 14px; }
.changelog ul li { list-style-type: square; line-height: 18px; }
.changelog hr { border: 1px solid black; }

/* Donate */

#donate { margin-left: 30px; margin-right: 30px; padding: 10px; }
.donate { text-align: center; padding-bottom: 10px; padding-top: 10px; }

/* Community */

.community-box {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Comments */

div.comment_row .body { margin:12px 10px 10px; }
div.comment_row h3 { margin:10px 10px 15px; }
div.comment_row {  margin-right: 30px; padding: 8px; margin: 0 30px 15px 30px; background: #f8ffbc; }
div.comment_row ul { margin-left: 20px; }
div.comment_row ul li { list-style-type: square; text-indent: 0; }

.stability_color_alpha {
  color: #990000;
}

.stability_color_beta {
  color: #CC6600;
}

.stability_color_rc {
  color: #00CC00;
}

.stability_color_stable {
  color: #32CD32;
}

.rounded_corners {
  -moz-border-radius : 5px;
  -webkit-border-radius: 5px;
  border-radius : 5px;
}

ul.error_list {
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

ul.error_list li {
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/error.png) no-repeat 4px 4px;
}

.notice {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../sf/sf_admin/images/tick.png) no-repeat 10px 4px;
}

.error {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../sf/sf_admin/images/error.png) no-repeat 10px 4px;
  background-color: #f33;
  color: red;
}

.notice, .error {
  background-color: #ffc;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  overflow/**/: auto;
}

.doctrine_table {
  margin-left: 30px;
  margin-right: 30px;
  border-collapse: collapse;
  width: 648px;
  margin-bottom: 10px;
  -moz-border-radius : 5px;
  -webkit-border-radius: 5px;
  border-radius : 5px;
  background-color: #2e6bc8;
}

.doctrine_table tbody tr {
  border-bottom: 1px dotted #ccc;  
}

.doctrine_table tbody tr td {
  padding: 5px;
  background-color: #ffffff;
}

.doctrine_table tbody tr th {
  background-color: white;
  text-align: left;
}

.doctrine_table tbody tr th label {
  margin-left: 5px;
  white-space: nowrap;
}

.doctrine_table tbody tr .title {
  font-weight: bold;
}

.doctrine_table tbody tr .author {
  white-space: nowrap;
  font-weight: bold;
}

.doctrine_table tbody tr .description {
  font-size: 11px;
}

.doctrine_table tbody tr .download {
  font-weight: bold;
}

.doctrine_table thead tr th {
  padding: 8px;
  color: #ffffff;
  white-space: nowrap;
  text-align: left;
  background-color: inherit;
}

.doctrine_table tfoot tr th {
  padding: 10px;
  text-align: left;
}

.checkbox_list {
  margin: 0;
}

.checkbox_list li {
  list-style: none;
}

.checkbox_list li label {
  margin-right: 25px;
  float: left;
  font-weight: bold;
}

.checkbox_list li input {
  float: right;
}

#help {
  clear: both;
  padding: 10px;
  background: #fdf9f1;
  overflow/**/: auto;
  margin-right: 30px;
  margin-left: 30px;
  color: #000;
  border: 1px solid #ccc;
  margin-top: 30px;
  -moz-border-radius : 5px;
  -webkit-border-radius: 5px;
  border-radius : 5px;
  background-color: #ffc;
}

#help a {
  font-weight: bold;
}

#help h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

#projects_menu {
  background: #fff;
  height: 36px;
  border-bottom: 1px solid #ccc;
}

#projects_menu ul li {
  float: left;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
}

#projects_menu ul li:hover {
  background: #333;
  color: #fff;
}

input.download-button {
  padding: 10px;
  border: 1px solid #eee;
  background: #ffc;
  margin-left: 30px;
  -moz-border-radius : 5px;
  -webkit-border-radius: 5px;
  border-radius : 5px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

input.download-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
