body {
margin:10px auto 0px auto;
font-family: Verdana, Arial, Helvetica;
text-decoration: none;
}
input.big {
width: 400;
}
hr {
color: A50A3D;
}
hr.small {
color: A50A3D;
width: 100%;
align: left;
height: 1 px;
}
td.small {
font-family: Verdana, Arial, Helvetica;
font-size: 13 px;
}
div.sql {
background: #E8E8E8;

}
dd {
    line-height: 1.5em;
}
ul {
    line-height: 1.5em;
}
td {
font-size: 14 px;
font-family: Verdana, Arial, Helvetica;
}

table.dashed {
border-style: dashed;
border-color: 116699;
border-shadow: none;
border-width: 1 px;
}
table.error {
border-style: dashed;
border-color: red;
border-shadow: none;
border-width: 1 px;
cellpadding: 0;
cellspacing: 0;
border-height: 1 px;
}
div {
line-height: 1.5em;
}
div.level1 {
font-size: 15px;
background: #E0E0E0;
}
div.level2 {
line-height: 1.8 em;
background: #E9E9E9;
}
div.level3 {
background: #EFEFEF;
}
div.level4 {
background: #F5F5F5;
}
div.level5 {

}
table.index {
border-style: solid;
border-color: #A0A0A0;
border-shadow: none;
border-width: thin;
}
td.bordered {
border-style: solid;
border-color: #A0A0A0;
border-shadow: none;
border-width: thin;
}
div.content {
margin: 5,5,5,5 px;
}
div.code {
font-family: monospace;
}
div.smallmenu {
border-style: solid;
border-color: #A0A0A0;
border-shadow: none;
border-width: thin;
background: #E9E9E9;
}
b.title {
color: #A50A3D;
}
u.title {
color: #367FAC;
}
a.big {
font-size: 14 px;
}
i {
color: #367FAC;
}
em {
color: #367FAC;
}
a {
color: #367FAC;
}
font.level1 {
font-size: 17 px;
line-height: 2.0 em;
font-weight: bold;
margin-left: 0px;
}
font.level2 {
font-size: 15 px;
margin-left: 30px;
}
font.level3 {
font-size: 13 px;
margin-left: 60px;
}
font.level4 {
font-size: 11 px;
margin-left: 90px;
}
font.smallmenu {
font-size: 13 px;
font-weight: bold;
}
