body {
margin:10px auto 0px auto;
font-family: Verdana, Arial, Helvetica;
text-decoration: none;
}

hr {
color: A50A3D;
}
hr.small {
color: A50A3D;
width: 100%;
align: left;
height: 1 px;
}
td.small {
font-family: Verdana, Arial, Helvetica;
font-size: 13 px;
}
div.sql {
background: #E8E8E8;

}
dd {
    line-height: 1.5em;
}
ul {
    line-height: 1.5em;
}
td {
font-size: 13 px;
font-family: Verdana, Arial, Helvetica;
}

table.dashed {
border-style: dashed;
border-color: 116699;
border-shadow: none;
border-width: 1 px;
}
b.title {
color: #A50A3D;
}
u.title {
color: #367FAC;
}
a.big {
font-size: 14 px;
}
i {
color: #367FAC;
}
a {
color: #367FAC;
}
