.tree .expander {
    margin-left: -0.60em;
}

pre {
	word-wrap: break-word;
}


div#wrap.sticky-toc #sidebar {
    /* IE5.5+/Win - this is more specific than the IE 5.0 version */
    top: expression(eval(document.documentElement.scrollTop));
    height: expression(eval(document.documentElement.clientHeight - 32));
}

