name: "Coding Standards"

on:
  pull_request:
    branches:
      - "*.x"
  push:
    branches:
      - "*.x"

jobs:
  coding-standards:
    uses: "doctrine/.github/.github/workflows/coding-standards.yml@1.0.0"
    with:
      php-version: "7.4"
