name: "Static Analysis"

on:
  pull_request:
    branches:
      - "*.x"
    paths:
      - .github/workflows/static-analysis.yml
      - composer.*
      - lib/**
      - phpstan*
      - psalm*
      - tests/Doctrine/StaticAnalysis/**
  push:
    branches:
      - "*.x"
    paths:
      - .github/workflows/static-analysis.yml
      - composer.*
      - lib/**
      - phpstan*
      - psalm*
      - tests/Doctrine/StaticAnalysis/**

jobs:
  static-analysis-phpstan:
    name: Static Analysis with PHPStan
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        include:
        - dbal-version: default
          config: phpstan.neon
        - dbal-version: 4@dev
          config: phpstan-dbal4.neon

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: "8.2"
          tools: cs2pr

      - name: Require specific DBAL version
        run: "composer require doctrine/dbal ^${{ matrix.dbal-version }} --no-update"
        if: "${{ matrix.dbal-version != 'default' }}"

      - name: "Uninstall PHPBench"
        run: "composer remove --dev --no-update phpbench/phpbench"

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v2

      - name: Run static analysis with phpstan/phpstan
        run: "vendor/bin/phpstan analyse -c ${{ matrix.config }} --error-format=checkstyle | cs2pr"

  static-analysis-psalm:
    name: Static Analysis with Psalm
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        dbal-version:
        - default
        - 4@dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: "8.2"
          tools: cs2pr

      - name: Require specific DBAL version
        run: "composer require doctrine/dbal ^${{ matrix.dbal-version }} --no-update"
        if: "${{ matrix.dbal-version != 'default' }}"

      - name: "Uninstall PHPBench"
        run: "composer remove --dev --no-update phpbench/phpbench"

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v2

      - name: Run static analysis with Vimeo Psalm
        run: vendor/bin/psalm --shepherd
